<!DOCTYPE html>
<html>
<head>
    <title>Fleet Foxes // {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--320-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/hamburgers-master/dist/hamburgers.min.css"/>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/layout.js"></script>
</head>
<body>
<div class="nav">
    <div>
        <a href="/news">
            <span class="glyphicon glyphicon-home"></span>
            <span class="navName">News</span>
        </a>
        <a href="/tour">
            <span class="glyphicon glyphicon-globe"></span>
            <span class="navName">Tour</span>
        </a>
        <a href="/music">
            <span class="glyphicon glyphicon-music"></span>
            <span class="navName">Music</span>
        </a>
        <a href="/photo">
            <span class="glyphicon glyphicon-picture"></span>
            <span class="navName">Photos</span>
        </a>
        <a href="/contact">
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="navName">Contact</span>
        </a>
    </div>
</div>
{{{body}}}
</body>
</html>
