<link rel="stylesheet" href="/stylesheets/music.css"/>
<h1 class="pageTitle">{{title}}</h1>
<ul>
    {{#each albums}}
        <li >
            <img src="{{this.albumImage}}" alt=""/>
            <ul>
                {{#each this.tracklist}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>

