<link rel="stylesheet" href="/stylesheets/music.css"/>
{{#each albums}}
    <div class="card-wrapper">
        <div class="card">
            <!--<div class="overlay"></div>-->
            <img src="{{this.albumImage}}" alt=""/>
            <ul>
                {{#each this.tracklist}}
                    <li>
                        <span class="glyphicon glyphicon-play-circle"></span>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/each}}
