<link rel="stylesheet" href="/stylesheets/music.css"/>
<div class="main">
    <div class="content-wrapper">
        <div id="home">
            <h1>{{title}}</h1>
            {{#each albums}}
                <div class="layout">
                    <img src="{{this.imageUrl}}" alt=""/>
                </div>
                <div class="layout">
                {{#each this.tracklist}}
                    {{this}}
                {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>