<span class="glyphicon glyphicon-menu-right menuBtn" id="closeMenuBtn"></span>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">News</a></li>
    <li><a href="/music">Music</a></li>
    <li><a href="">Tour</a></li>
    <li><a href="">Photos</a></li>
    <li><a href="">Store</a></li>
    <li><a href="">Contact</a></li>
</ul>
<div id="socialMediaBtns">
    <img src="/stylesheets/font/1479450899_Social__Facebook.png" alt="" />
    <img src="/stylesheets/font/1479450900_Social__Instagram.png" alt="" />
    <img src="/stylesheets/font/1479450901_Social__Twitter.png" alt=""/>
</div>