<link rel="stylesheet" href="/stylesheets/news.css"/>
<h1>{{title}}</h1>
<ul>
    <li>
        <div class="date col-xs-12">
            <img src="http://www.undertheradarmag.com/uploads/article_images/Fleet_Foxes_by_Wendy_Lynch_Redfern_news_thumb.jpg" class="img-circle" alt=""/>
            <h2>HEY It's Robin</h2>
        </div>
        <div class="content col-xs-12">
            <span>10/10/2016</span>
            Watch out for our new album!
        </div>
    </li>
    <li>
        <div class="date col-xs-12">
            <img src="http://www.undertheradarmag.com/uploads/article_images/Fleet_Foxes_by_Wendy_Lynch_Redfern_news_thumb.jpg" class="img-circle" alt=""/>
            <h2>HEY</h2>
        </div>
        <div class="content col-xs-12">
            <span>10/10/2016</span>
            <img src="https://i.ytimg.com/vi/DrQRS40OKNE/maxresdefault.jpg" alt=""/>
        </div>
    </li>
</ul>