<link rel="stylesheet" href="/stylesheets/news.css"/>
<div class="main">
    <div class="content-wrapper">
        <div id="home">
            <h1>{{title}}</h1>
            {{#each posts}}
                <div class="layout">
                    <h2>{{this.title}}</h2>
                    <h3>{{this.date}}</h3>
                    {{{this.content}}}
                </div>
            {{/each}}
        </div>
    </div>
</div>