<link rel="stylesheet" href="/stylesheets/news.css"/>
{{#each posts}}
    <div class="card-wrapper {{type}}">
        <div class="card">
            {{#if title}}<h2>{{title}}</h2>{{/if}}
            <span>{{date}}</span>
            {{{content}}}
        </div>
    </div>
{{/each}}