<link rel="stylesheet" href="/stylesheets/tour.css"/>
{{#each events}}
    <div class="card-wrapper">
        <div class="card">
            <span>{{this.date}}</span>
            <span>{{this.name}}</span>
            <span>{{this.location}}</span>
            <a href="{{this.url}}">Tickets</a>
        </div>
    </div>
{{/each}}
