<link rel="stylesheet" href="/stylesheets/tour.css"/>
<div class="main move">
    <div class="content-wrapper">
        <div id="tour">
            <h1>Tour</h1>
            <div class="layout visible">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
            <div class="layout">
                <!--<img src="http://www.glastoguide.co.uk/wp-content/uploads/2014/05/glasto1a.jpg" alt=""/>-->
                <div class="info">
                    <span>Date</span>
                    <span>Location</span>
                    <span>Festival</span>
                </div>
            </div>
        </div>
    </div>
</div>
